body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
}

.TitleSection {
  background-color: #6ea4bb;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e7e7e6;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5e98b1;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #e7e7e6;
  background-color: #006cbf
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection {

  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #6ea4bb;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 25px;
  }

  &__pokemon {

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

    border: 2px solid #006cbf;
    box-shadow: 3px 3px 3px  #006cbf;

  }

}